
.btn-eye{
    background-image: url(/images/svg/oeil.svg);
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-position: center;
    left: 100%;
    margin-top: 5px;
    position: absolute;
    margin-left: -61px;
}
#div-error{
    display: none;
}
#div-error-outer{
    min-height: 65px;
}
#form_password .form-label-group{
    margin-bottom: 0.5rem;
}

.div-password{
    position: relative;
    max-width: 500px;
    margin: auto;
}

